{% extends "base.html" %}

{% block xyz %}



<div style="padding-left: 15%; padding-right: 15%; padding-top: 3%;">
    <h1 style="text-align: center; color: red; margin-bottom: 19px;">Fill Info</h1>
    <form action="/savedata" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name" name="fname">
        </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone Number</label>
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter your Phone Number" name="pnumber">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Upload Image</label>
          <input type="file" class="form-control" id="exampleInputPassword1" name="img">
        </div>
        

        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>


{% endblock xyz %}