{% extends "base.html" %}

{% block title %}Services{% endblock title %}


{% block body %}

<div style="padding: 39px; padding-left: 6%; padding-right: 6%;">
    <h2 style="text-align: center; color: red; margin-bottom: 22px;">All Contact Us Forms</h2>
    <div class="row">

        {% for x in mydata %}
        
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card" style = "margin-bottom: 23px;">
            <div class="card-body">
              <h5 style = "color : red" class="card-title">{{x.fullname}}</h5>
              <p style="margin-bottom: 0px;" class="card-text"><b>Email : </b>{{x.email}}</p>
              <p style="margin-bottom: 0px;" class="card-text"><b>Phone Number : </b>{{x.phone_number}}</p>
              <p style="margin-bottom: 0px;" class="card-text"><b>Message : </b>{{x.Message}}</p>
              <p style="margin-bottom: 0px;" class="card-text"><b>Added Data Time : </b>{{x.Added_time}}</p>

                <div style="display: flex; justify-content: space-evenly;">
                    <a href="/updatedata/{{x.id}}"><button type="button" class="btn btn-success">Update</button></a>
                    <a href="/deletethisdata/{{x.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
</div>


{% endblock body %}